/* @import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;500;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #221f1f;
  font-weight: 300;
  letter-spacing: 0.4px;
  /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: "arial", sans-serif;
}
.background_stripe {
  /* background-image: url("/assets/pattern.webp"); */
}

.background_stripe {
  background-repeat: repeat;
  /* height: 44px; */
  transform: translateY(65px);
}

.background_video {
  height: 25rem;
  overflow: hidden;
}

.background_video .source_play {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

._font-bold {
  font-weight: 700 !important;
}

.__PhoneInputInput .PhoneInputInput {
  outline: none !important;
  background: transparent !important;
}

.dropdownSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  border: 2px solid #ccc;
  padding: 0.68rem;
  width: 100%;
  font-size: 0.875rem;
  color: #333;

  transition: border-color 0.3s;
  outline: none;
}

.dropdownSelect:hover {
  border-color: #999;
}

/* Hide the scrollbar on the body */
body {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  overflow: -moz-scrollbars-none; /* For Firefox */
  -ms-overflow-style: none;
}

/* Hide the scrollbar on all other elements */
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

/* Optional: Style the scrollbar track and thumb for Webkit browsers */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Firefox */
* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: transparent transparent; /* For Firefox */
  overflow: -moz-scrollbars-none; /* For Firefox */
  /* Internet Explorer */
  -ms-overflow-style: none;
}

/* Animation footer */

.scrolling-container {
  overflow: hidden;
  white-space: nowrap;
}

.scrolling-content {
  display: flex;
  animation: scrollRight 20s linear infinite;
  animation-play-state: running;
  animation-delay: 500ms;
}
/* .scrolling-content.fast-up{
  animation-duration:s;
} */

@keyframes scrollRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scrolling-content:hover {
  animation-play-state: paused;
}

/* For iPhone browser */
@media (max-width: 768px) and (-webkit-touch-callout: none) {
  input {
    border-radius: 0; /* Set to strict rectangular */
  }
}
input {
  border-radius: 0 !important; /* Set to strict rectangular */
  -webkit-appearance: none !important;
  -webkit-border-radius: 0 !important;
}

input[type="search"] {
  -webkit-appearance: none;
}
/* Define the initial state (opacity 100%, no animation) */
.opacity-100 {
  opacity: 1;
  transition: opacity 0s; /* No transition */
}

/* Define the fade-out animation to the right */
.fade-out-right {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

/* Define the fade-in animation from the left */
.fade-in-left {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.delay-the-search {
  animation: delayABit 1s linear 1;
}

@keyframes delayABit {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Checkbox input */
.__CHECK_REG__ {
  width: 100%;
}
.__CHECK_REG__ input {
  width: 1rem;
  height: 1rem;
  color: black;
  border-radius: 0.125rem;
  border: 1px solid #cbd5e0;
  outline: none;
  appearance: none;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

.__CHECK_REG__ input:checked {
  background-color: black;
  border-color: black;
}

/* Label for the checkbox */
.__CHECK_REG__ label {
  width: 100%;
  /* margin-left: 0.5rem; */
  color: #4a5568;
  font-size: 0.875rem;
  font-weight: 500;
}
/* 
.page0-animated-div {
  opacity: 1;
  transition: opacity .7s ease-in-out, transform .7s ease-in-out, height .9s ease-in-out;
}

.page1-animated-div {
  height: 0px;
  transform: translateX(100%);
  opacity: 0;
  transition: opacity .7s ease-in-out, transform .7s ease-in-out, height .9s ease-in-out;
}

.delay-me {
  transition-delay: .7s;
}

.leave_div {
  opacity: 0;
  transform: translateX(100%);
  height: 0px;
}

.come_div {
  opacity: 1;
  transform: translateX(0%);
}

.height-page0{
  height: 168px;
}

.height-page1{
  height: 272px;
} */
